body {
    background-color: #404040 !important;
    font-family: Roboto, sans-serif !important;
}

/* <!--===============================================================================================--> */
nav {
    background-color: black;
    color: white !important;
}

nav i {
    font-size: 25px;
    transition: color 0.2s ease-in;
    cursor: pointer;
}

nav i:hover {
    color: #C8EC56;
}

/* <!--===============================================================================================--> */
#lists li {
    list-style: none;
}

#lists li a {
    text-decoration: none;
    color: white;
    transition: color 0.2s ease-in;
}

#lists li a:hover {
    color: #C8EC56;
}

@media (max-width:768px) {
    #lists {
        background-color: black;
        margin: 0px;
    }

    #lists a {
        font-size: 25px;
    }
}

/* <!--===============================================================================================--> */
#profileButton {
    cursor: pointer;
}

#profileButton:hover {
    color: #C8EC56;
}

#profileDropdown {
    right: 0;
    top: 60px;
    width: 200px;
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    border-radius: 15px;
    z-index: 9999;
}

#profileDropdown {
    gap: 10px 0px;
}

#profileDropdown a {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

#profileDropdown a:hover {
    color: #049547;
}

/* <!--===============================================================================================--> */
@media (min-width: 576px) {
    #cart{
        overflow: hidden;
    }
}

#cart .col,
#cart .col-5 {
    background-color: white;
}

#checkoutLists label {
    font-family: Poppins;
    font-size: 20px;
}

#checkoutLists input {
    padding: 3px;
}

/* <!--===============================================================================================--> */
table img {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

table td {
    height: auto;
    min-height: 100%;
}

#tableFooter tr td{
    height: 60px !important;
    background-color: #404040;
    border-bottom: transparent;
}

#tableFooter tr td button{
    background-color: #049547;
    border: transparent;
}

#tableFooter tr td button:hover{
    background-color: #024b24;
}

.page-item.active .page-link{
    background-color: #049547 !important;
    border: 1px solid #049547 !important;
}

.page-item.active .page-link:hover{
    color: #024b24;
}

.page-item .page-link{
    color: #049547;
}

.page-item .page-link:hover{
    color: #024b24;
}

table thead tr th{
    background-color: #049547 !important;
}

