body{
    background-color: #404040 !important;
}
/* <!--===============================================================================================--> */
nav{
    background-color: black;
    color: white !important;
}

nav i {
    font-size: 25px;
    transition: color 0.2s ease-in;
    cursor: pointer;
}

nav i:hover{
    color: #C8EC56;
}
/* <!--===============================================================================================--> */
#lists li{
    list-style: none;
}

#lists li a{
    text-decoration: none;
    color: white;
    transition: color 0.2s ease-in;
}

#lists li a:hover{
    color: #C8EC56;
}

@media (max-width:768px) {
    #lists{
        background-color: black;
        margin: 0px;
    }

    #lists a{
        font-size: 25px;
    }
}
/* <!--===============================================================================================--> */
.col{
    height: 600px;
}

@media (max-width: 768px) {
    .col{
        height: 300px;
    }
}

.col h1{
    color: #C8EC56;
    font-family: Comic Sans;
}

.col h2{
    color: white;
}

.col img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
/* <!--===============================================================================================--> */
.swiper {
    width: 100%;
  }

#sliderButtons i{
    background-color: white;
    padding: 11px 15px;
    border-radius: 50%;
    transition: background-color 0.2s ease-in;
}

#sliderButtons i:hover{
    background-color: #C8EC56;
    cursor: pointer;
}

.swiper-slide{
    background-color: black;
}

.swiper-slide{
    overflow: hidden;
    border-radius: 15px;
    display: flex !important;
    flex-direction: column;
    height: 500px;
}

.swiper-slide img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.swiper-content{
    color: white;
    margin: 0 !important;
    padding: 15px;
}