body{
    background-color: #404040 !important;
}
/* <!--===============================================================================================--> */
nav{
    background-color: black;
    color: white !important;
}

nav i {
    font-size: 25px;
    transition: color 0.2s ease-in;
    cursor: pointer;
}

nav i:hover{
    color: #C8EC56;
}
/* <!--===============================================================================================--> */
#lists li{
    list-style: none;
}

#lists li a{
    text-decoration: none;
    color: white;
    transition: color 0.2s ease-in;
}

#lists li a:hover{
    color: #C8EC56;
}

@media (max-width:768px) {
    #lists{
        background-color: black;
        margin: 0px;
    }

    #lists a{
        font-size: 25px;
    }
}
/* <!--===============================================================================================--> */
#homeContent .col{
    height: 640px !important;
}

@media (max-width: 768px) {
    #homeContent .col{
        height: 300px !important;
    }
}

#homeContent .col h1{
    color: #C8EC56;
    font-family: Comic Sans;
}

#homeContent .col h2{
    color: white;
}

#homeContent .col img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
/* <!--===============================================================================================--> */
.swiper {
    width: 100%;
  }

#sliderButtons i{
    background-color: white;
    padding: 11px 15px;
    border-radius: 50%;
    transition: background-color 0.2s ease-in;
}

#sliderButtons i:hover{
    background-color: #C8EC56;
    cursor: pointer;
}

.swiper-slide{
    background-color: black;
}

.swiper-slide{
    overflow: hidden;
    display: flex !important;
    flex-direction: column;
    height: 500px;
}

.swiper-slide img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.swiper-content{
    color: white;
    margin: 0 !important;
    padding: 15px;
}
/* <!--===============================================================================================--> */
#viewAllContainer button{
    padding: 10px;
    width: 100px;
    border-radius: 15px;
    border: 0px solid transparent;
}

@media (max-width: 568px) {
    #viewAllContainer button{
        padding: 10px;
        height: 50px;
        width: 120px;
    }
}

#viewAllContainer button:hover{
    background-color: #C8EC56;
    

}
/* <!--===============================================================================================--> */
#profileButton{
    cursor: pointer;
}

#profileButton:hover{
    color: #C8EC56;
}

#profileDropdown {
    right: 0;
    top: 60px;
    width: 200px;
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    border-radius: 15px;
    z-index: 9999;
}

#profileDropdown {
    gap: 10px 0px;
}

#profileDropdown a {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

#profileDropdown a:hover {
    color: #049547;
}
/* <!--===============================================================================================--> */
#gridBox .col{
    height: 600px !important;
    min-height:600px !important;
}

@media (max-width: 768px) {
    #gridBox .col{
        height: 300px !important;
        min-height: 100% !important;
    }
}

#gridBox .col img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#gridBox .col h1{
    color: #C8EC56;
    font-family: Comic Sans;
}
/* <!--===============================================================================================--> */
#googleMap{
    height: 640px !important;
}

@media (max-width: 768px) {
    #googleMap{
        height: 300px !important;
    }
}
/* <!--===============================================================================================--> */
.navbar i span{
    color: red;
}
